<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Make sure you're loading the correct CSS -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Make sure you're loading the correct JavaScript -->
  <%= javascript_include_tag 'application', data: { turbo_track: 'reload' }, type: 'module' %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
