<h1>Edit User</h1>
<%= form_for [:admin, @user] do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :balance %>
    <%= f.number_field :balance %>
  </div>
  <div>
    <%= f.submit 'Update User' %>
  </div>
<% end %>
